@{
    ViewBag.Title = "Home Page";
}

<link rel="stylesheet" href="../../Content/Index.css">
<h1>Welcome to the GC Coffe Shop!</h1>
<p>
    <a href="/Home/Register">Register</a>
</p>
<br />
<a href="/Home/Register">
<img src="/Content/Images/hypers.jpg" alt="Hypers!"/>
</a>